<footer class="bg-stone-100  text-center p-6 flex flex-col items-start">
    <p class=" text-md font-bold p-6 lg:text-[1.4rem] xl:text-[1.8rem] xxs:text-[1.1rem]  md:p-4 xxs:p-2 mx-auto">Contattaci <span class="lg:text-[1.4rem] xl:text-[1.8rem] xxs:text-[1.1rem] font-bold">:)</span></p>
    <div class="flex flex-row justify-between w-full">
      <div class="flex flex-col gap-3 xl:mx-40  hxl:mx-24 lg:mx-20 md:mx-14 sm:mx-10 xs:mx-6 xxs:mx-4">
        <div class="flex flex-row items-center justify-start gap-2">
          <img src="/images/instagram.svg" alt="" class="w-8 h-8">
          <p>DistributoriViciniaTe</p>
        </div>
        <div class="sm:flex flex-row items-center justify-start gap-2 xxxs:hidden">
          <img src="/images/instagram.svg" alt="" class="w-8 h-8">
          <p>DistributoriViciniaTe</p>
        </div>
        <div class="sm:flex flex-row items-center justify-start gap-2 xxxs:hidden">
          <img src="/images/instagram.svg" alt="" class="w-8 h-8">
          <p>DistributoriViciniaTe</p>
        </div>
        <div class="sm:hidden flex-row items-center justify-start gap-2 xxxs:flex">
        <h2 class="text-stone-950 xxxs:text-lg text-lg sm:text-xl md:text-2xl">Supportaci con una <a href="/donazione" class="text-green-600">Donazione 2$</a></h2>
        </div>
      </div>

      <div class="sm:flex flex-col xl:mx-40  hxl:mx-24 lg:mx-20 md:mx-14 sm:mx-10 xs:mx-6 xxs:mx-4 xxxs:hidden">
        <h2 class="text-stone-950  text-lg sm:text-xl md:text-2xl">Supportaci con una <button id="donazione-btn" class="text-green-600">Donazione 2$</button></h2>
      </div>

      
    </div>
    
  </footer>
  <script src="/js/modal.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/stripe.js">
  </script>
