<%- include("./includes/head.ejs") %> 
<main class="my-10 hxl:mx-16 md:mx-8 sm:mx-7 xxxs:mx-4">
    <h1>Sarai presto rindirizzato alla home page</h1>
</main>
<%- include("./includes/footer.ejs") %>
<script src="/js/re-location.js"></script>
</body>
</html>