<%- include("./includes/head.ejs") %> 
<main class="my-10 flex flex-col justify-center items-center">
    <% if(errorMessage){ %> 
        <div class="flex flex-col gap-1  border-yellow-400 m-8 border-double  border-4 p-8 justify-center items-center">

        
        <% errorMessage.forEach(error => {%> 
            <p class=" xxs:text-lg lg:text-lg xl:text-xl xxxs:text-sm text-yellow-400 "><%=error.msg%></p>
            <% }); %> 
        </div>
        <%  } %> 
    
        <form action="/<% if(LoginMode){%>login<%}else{%>signup<%}%>" method="post" class="<%
          if(LoginMode) { %> 
              xxxs:w-full sm:w-10/12 md:w-7/12 lg:w-6/12 hxl:w-5/12 xl:w-4/12 pt-10 pb-8 flex flex-col items-center gap-4 border-slate-500 border-8 
          <% } else { %> 
              xxxs:w-full sm:w-10/12 md:w-7/12 lg:w-6/12 hxl:w-5/12 xl:w-4/12 pt-10 pb-8 flex flex-col items-center gap-4 border-yellow-500 border-8 
          <% } %>">
      

          
         
         
    <h1 class="text-stone-100 xxxs:text-lg xs:text-xl hxl:text-2xl xl:text-3xl mb-2"><% if(LoginMode){%>Login<% }else{%>Sign Up<% }%></h1>
    <% if(!LoginMode){%> 
        <div class="flex flex-row gap-8 mb-1">
            <div class="flex flex-col items-start mb-6 xs:w-[22em] xxxs:w-[16em]">
                <label for="" class="text-stone-100 text-md  lg:text-lg xl:text-xl ">Nome:</label>
                <input class="text-md  lg:text-lg xl:text-xl w-full" type="text" name="name" required>
            </div>
            <div class="flex flex-col items-start mb-6 xs:w-[22em] xxxs:w-[16em]">
                <label for="" class="text-stone-100 text-md  lg:text-lg xl:text-xl ">Cognome:</label>
                <input class="text-md  lg:text-lg xl:text-xl w-full" type="text" name="surname" required>
            </div>
        </div>
        <div class="flex flex-row gap-8 my-2">
          <div class="flex flex-col items-start mb-6 xs:w-[22em] xxxs:w-[16em]">
            <label for="" class="text-stone-100 text-md  lg:text-lg xl:text-xl ">Codice Fiscale:</label>
            <input class="text-md  lg:text-lg xl:text-xl w-full" type="text" name="cf" required>
        </div>
        <div class="flex flex-col items-start mb-6 xs:w-[22em] xxxs:w-[16em]">
            <label for="" class="text-stone-100 text-md  lg:text-lg xl:text-xl ">Città:</label>
            <input class="text-md  lg:text-lg xl:text-xl w-full" type="text" name="name" required>
        </div>
        </div>
    <%} %> 
    <div class="flex flex-col items-start mb-2 xs:w-[22em] xxxs:w-[16em]">
        <label for=""  class="text-stone-100 text-md  lg:text-lg xl:text-xl">Email:</label>
        <input class=" text-md  lg:text-lg xl:text-xl w-full" type="email" name="email" required>
    </div>
    <div class="flex flex-col items-start <% if(LoginMode){%>mb-4<%}else{%>mb-2<%}%> xs:w-[22em] xxxs:w-[16em] ">
        <label for="" class="text-stone-100 text-md lg:text-lg xl:text-xl ">Password:</label>
        <input class=" text-md  lg:text-lg xl:text-xl w-full" type="password" name="password" required>
    </div>
    <% if(!LoginMode){%> 
        <div class="flex flex-col items-start mb-6 xs:w-[22em] xxxs:w-[16em]">
            <label for="" class="text-stone-100 text-md  lg:text-lg xl:text-xl ">Confirm Password:</label>
            <input class="text-md  lg:text-lg xl:text-xl w-full" type="password" name="confirm" required>
        </div>
        <div class="flex flex-col items-start mb-6 xs:w-[22em] xxxs:w-[16em]">
            <label for="" class="text-stone-100 text-md  lg:text-lg xl:text-xl ">Perche vuoi unirti?</label>
            <textarea name="motivation" id="motivation" cols="30" rows="5" maxlength="255" minlength="10" class="text-md resize-none lg:text-lg xl:text-xl w-full"></textarea>
        </div>
    <%} %> 
    <div>
        <button class="bg-slate-50 rounded-xl text-md  lg:text-lg xl:text-xl px-10 py-3 " type="submit"><% if(LoginMode){%>Login<%}else{%>Sign Up<%}%></button>
    </div>
    <% if(LoginMode){%>
        <p class="text-sm text-slate-100">non hai ancora un account? richiedilo <a class="font-bold text-purple-300 underline" href="/signup">qui</a></p>
        <%}else{%>
            <p class="text-sm text-slate-100">Hai già un account? clicca <a class="font-bold text-purple-300 underline" href="/login">qui</a></p>
            <% }%>
    
    </form>
</main>

<%- include("./includes/footer.ejs") %> 

</body>
</html>